.app {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.start {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px 10px;
}

.block1,
.block2 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: cadetblue;
  font-size: 4rem;
}

.block1.animated {
  animation: moveUpDown 5s infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellowgreen;
  position: absolute;
  transition: transform 2s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle.animate {
  transform: translateX(80px);
}
